.page{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .table-wrapper-scroll-y {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 20px;
  }

  .mat-toolbar{
    background-color: rgb(211, 208, 208);
    height: 45px;
  }
  
  table {
    width: 100%;
  }

  th{
    font-size: 12px;
    -webkit-text-fill-color: black;
    background-color:  gray;
    text-align: center;
    font-weight: bold;
  }

  td{
    font-size: 11px;
    text-align: center;
  }
  h3{
    padding-left: 15px;
    padding-bottom: 10px;
  }

  .example-h2 {
    margin: 10px;
  }
