<div class="background">
  <div class="page">

    <!-- header -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span><img src="./assets/mobitel1.jpg"></span>
        <span><strong>SUMMARY</strong></span>
        <span class="example-spacer"></span>
        <span class="align-center"></span>
        <button mat-raised-button routerLink="/view">Back</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="pageborder">

      <div style="width: 100%;">
        <mat-card class="table_card">
          <mat-card-header>
            <mat-card-title>
              <b>User Details</b>
            </mat-card-title>
            <span class="example-spacer"></span>
            <span class="align-center"></span>
            <button type="button" class="btn btn-success btn-sm" (click)="open(content)">Add</button>
          </mat-card-header>
        </mat-card>
        <div class="table-wrapper-scroll-y">
          <table class="table table-bordered table-light table-sm">
            <thead>
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Member</th>
                <th>Main Region</th>
                <th>Sub Region</th>
            </thead>
            <tbody>
              <tr *ngFor="let d of data">
                <td>{{d.number}}</td>
                <td>{{d.name}}</td>
                <td>{{d.member}}</td>
                <td>{{d.main_region}}</td>
                <td>{{d.sub_region}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <!-- agent call log table -->
    <div class="pageborder1">
      <div class="row">
        <div style="width: 41%">
          <mat-card class="table_card2">
            <mat-card-header>
              <mat-card-title>
                <b>Agent Call Log</b>
              </mat-card-title>
              <div class="download">
                <button type="button" class="btn btn-success" (click)="exportAsXLSX()">Download</button>
              </div>
            </mat-card-header>
            <div class="row">
              <div class="data">
                <!-- <label>Name: </label> -->
                <select (change)="annualData($event.target.value)" class="btn btn-light dropdown-toggle" type="button"
                  data-toggle="dropdown">
                  <option value="0">Filter</option>
                  <option value="1">Annual</option>
                  <option value="2">Monthly</option>
                  <option value="3">Daily</option>
                </select>
              </div>
              <input [(ngModel)]="searchText" placeholder="Search..." class="advancedSearchTextbox">
            </div>
          </mat-card>
          <div class="table-wrapper-scroll-y">
            <table class="table table-bordered table-light table-sm">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Incoming</th>
                  <th>Outgoing</th>

              </thead>
              <tbody>
                <tr *ngFor="let i of call | grdFilter: {name: searchText, number: searchText, date:searchText}">
                  <td>{{i.number}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.date}}</td>
                  <td>{{i.incoming}}</td>
                  <td>{{i.outgoing}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- bar chart -->
        <div class="barChart">
          <mat-card class="chart_card1">
            <div>
              <div style="display: block">
                <canvas baseChart  width="700" height="480" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
              <!-- <button (click)="randomize()">Update</button> -->
            </div>
          </mat-card>
        </div>

      </div>

      <!--line chart -->
      <div class="col-md-10">
        <mat-card class="table_card1">
          <mat-card-header>
            <mat-card-title>
              <b>Agent Summary</b>
            </mat-card-title>

            <div class="name">
              <!-- <label>Name: </label> -->
              <select (change)="filterForeCasts($event.target.value)" class="btn btn-light dropdown-toggle" type="button"
                data-toggle="dropdown">
                <option value="0">--Select Name--</option>
                <option *ngFor="let a of agentName" value={{a.name}}>
                  {{a.name}}
                </option>
              </select>
            </div>

          </mat-card-header>
        </mat-card>

        <mat-card class="chart_card">
          <div style="display: block;">
            <canvas baseChart width="600" height="230" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </mat-card>

      </div>

      <div class="footer">
        <p>Summary</p>
      </div>

    </div>
  </div>
</div>

<!-- modal -->
<ng-template #content let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Details</h4>
    <button type="button" class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="number" [(ngModel)]=number placeholder="Number">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="name" [(ngModel)]=name placeholder="Name">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="member" [(ngModel)]=member placeholder="Member">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="main_region" [(ngModel)]=main_region placeholder="Main Region">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="sub_region" [(ngModel)]=sub_region placeholder="Sub Region">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="add(); modal.close('Save click')">Save</button>
  </div>
</ng-template>

<pre>{{closeResult}}</pre>