<div class="background">

  <div class="page">

    <!-- header -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>
          <img src="./assets/mobitel1.jpg">
        </span>
        <span class="example-spacer"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <mat-toolbar color="primary">
          <span>
            <strong>CALL LOG</strong>
          </span>
        </mat-toolbar>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Login</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                    required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>

    <div class="footer">
      <p>http://www.mobitel.lk/</p>
    </div>

  </div>
</div>